# Debug
ui-debug.log

# Compiled JavaScript files
lib

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# File with private NPM token(s) inserted for deploying function
.npmrc

# Firebase functions config/env for running functions locally
.runtimeconfig.json
