<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LingDocs Signin">
    <title>Account · LingDocs</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <script>

  </script>
  </head>
  <body>
    <div class="container" style="max-width: 800px;">
      <h2 class="mt-4 mb-4 text-center">How to Delete your LingDocs Account</h2>
      <p>To delete your account for the LingDocs Pashto Dictionary and LingDocs Pashto Grammar:</p>
      <ul>
        <li>Go to <a href="https://account.lingdocs.com/user">https://account.lingdocs.com/user</a></li>
        <li>If necessary, log in</li>
        <li>Once logged in, scroll down and click on the "Delete Account" button</li>
      </ul>
      <p>Deleting your account will permanently delete all associated data with your account. All user ID data and personal wordlist data created will also be deleted forever.</p>
  </body>
</html>