<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LingDocs Signin">
    <title>Password Reset · LingDocs</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h2 class="mt-4 mb-4 text-center">Reset your LingDocs Password</h2>
        <% if (user && message === "password reset") { %>
            <p>Ok, <%= user.name %>, the password for your account with <strong><%= user.email %></strong> has been reset. 👍</p>
            <p><a href="/">Login</a></p>
        <% } else if (user) { %>
            <form method="POST" class="mb-4" style="max-width: 500px; margin: 0 auto;">
                <div>
                <label for="password" class="form-label">New Password:</label>
                <input required minlength="6" name="password" type="password" class="form-control" id="password" value="">
                </div>
                <div class="mt-2">
                <label for="passwordConfirmed" class="form-label">Confirm New Password:</label>
                <input required minlength="6" name="passwordConfirmed" type="password" class="form-control" id="passwordConfirmed" value="">
                </div>
                <% if (message === "passwords don't match") { %>
                    <div class="alert alert-warning mt-3" role="alert">
                        Passwords don't match
                    </div>
                <% } %>
                <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
            </form>
        <% } else { %>
          <p>Invalid Password Reset Link</p>
        <% } %>
      </div>
    </div> 
  </body> 
</html>