<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LingDocs Signin">
    <title>Password Reset · LingDocs</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h2 class="mt-4 mb-4 text-center">Reset your LingDocs Password</h2>
        <% if (!done) { %>
          <form method="POST" class="mb-4" style="max-width: 500px; margin: 0 auto;">
            <div>
              <label for="email" class="form-label">Email:</label>
              <input required name="email" type="email" class="form-control" id="email" value="<%= email %>">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
          </form>
        <% } else { %>
          <p>If <strong><%= email %></strong> is a <em>verified</em> e-mail in our system, we sent a password reset email.</p>
        <% } %>
      </div>
    </div> 
  </body> 
</html>