<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LingDocs Signin">
    <title>Store · LingDocs</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script>
      function handleCancel() {
        if (window.opener) {
          const w = window.opener
          try {
            w.postMessage("cancelled", "https://dictionary.lingdocs.com");
          } catch (e) {
            console.error(e);
          }
        } else {
          alert("close window or go back to cancel");
        }
      }
    </script>
  </head>
  <body>
    <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
              <span class="fs-4">LingDocs</span>
            </a>
      
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a class="py-2 text-dark text-decoration-none" href="https://account.lingdocs.com/">Account</a>
            </nav>
          </div>
      
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Student Account Pricing</h1>
            <p class="fs-5 text-muted">Upgrade to a student account and activate a wordlist you can sync accross devices</p>
          </div>
        </header>
      
        <main>
          <div class="row justify-content-center row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Monthly</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$1<small class="text-muted fw-light">/month</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Cancel anytime</li>
                  </ul>
                  <form action="/payment/create-checkout-session" method="POST">
                    <input type="hidden" name="priceId" value="price_1Lt0XdJnpCQCjf9pM9qqdyt6" />
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">Yearly</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/year</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Save 20%</li>
                      </ul>
                      <form action="/payment/create-checkout-session" method="POST">
                        <input type="hidden" name="priceId" value="price_1Lt0XdJnpCQCjf9pHk1MQqCC" />
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Subscribe</button>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-2">
              <button onclick="handleCancel()" type="button" class="w-100 btn btn-lg btn-outline-secondary">Cancel</button>
            </div>
        </div>
      </div>
  </body>
</html>